In [1]:
import pandas as pd
import os

df = pd.read_csv("results/single_src_ft/full_results.csv")
df["score"] = df["score"] * 100
df["metric"] = df["metric"].apply(lambda x: "Acc" if x == "accuracy" else "ECE")
df["model"] = df["model"].apply(lambda x: "mBERT" if x == "mbert" else "XLM-R")
df["setup"] = df["setup"].str.upper()
# rename oob and none to .OOB and .NONE to have them the first element in the table
df["ckpt_avg"] = df["ckpt_avg"].apply(lambda x: ".NONE" if x == "none" else x.upper())
df["calib"] = df["calib"].apply(lambda x: ".OOB" if x == "oob" else x.upper())
df["dataset"] = df["dataset"].str.upper()
df["dataset"] = df["dataset"].apply(lambda x: "PAWS-X" if x == "PAWS_X" else x)
df["dataset"] = df["dataset"].apply(lambda x: "XSC" if x == "XSTORYCLOZE" else x)
df["target_lang"] = df["target_lang"].str.upper()
df.columns = ["exp_name", "Dataset", "Model", "Setup", "CA", "Cal", "seed", "source_lang", "target_lang", "Metric", "Score"]

try:
    os.makedirs("results/latex_tables")
except OSError:
    pass

In [14]:
# Table 4.1

model="XLM-R"
new_df = df[df["Model"] == model]
pivot_table = new_df.pivot_table(
    values="Score", 
    index=["Setup", "CA", "Cal"], 
    aggfunc="mean",
    columns=["Dataset", "Metric"],
    )
latex_table = pivot_table.to_latex(
    float_format="%.1f",
    label="tab:full_xlmr",
    caption=f"Results for {model} for multi-source fine-tuning. The values are averages over 5 different seeds and all tested target languages in the respective datasets. The lowest ECE and the highest accuracy (Acc) for each dataset are highlighted in bold."
    )
latex_table = latex_table.replace("multirow[t]", "multirow[c]")
latex_table = latex_table.replace(".NONE", "NONE")
latex_table = latex_table.replace(".OOB", "OOB")
with open(f"results/latex_tables/full_xlmr.tex", "w") as file:
    file.write(latex_table)

In [15]:
pivot_table

Dataset              PAWS-X                 XCOPA                  XNLI  \
Metric                  Acc        ECE        Acc        ECE        Acc
Setup CA    Cal
FFT   .NONE .OOB  82.705000  10.453783  60.325651  16.899287  73.489820
            LS    83.255000   6.653393  59.574149   8.490208  72.629940
            TS    82.705000   6.829367  60.325651  10.807945  73.489820
      BEST  .OOB  83.347499  11.157841  60.240481  16.601372  73.010380
            LS    83.505000   6.280207  60.526052   8.228549  72.048303
            TS    83.347499   6.758226  60.240481  10.709149  73.010380
      LAST  .OOB  83.710000   9.101028  56.623247  15.867088  72.899401
            LS    83.730000   5.264404  55.806613   8.717976  65.101797
            TS    83.710000   4.932794  56.623247   9.165874  72.899401
TA    .NONE .OOB  82.747500   7.012756  60.796593   7.176055  72.785629
            LS    82.545000   5.691655  61.067134   6.297154  73.506986
            TS    82.747500   3.585086  60.796593   5.729219  72.785629
      BEST  .OOB  82.977501   6.655961  61.127255   6.842989  73.323353
            LS    82.905000   5.085281  61.267535   5.681691  73.343712
            TS    82.977501   3.117330  61.127255   5.702228  73.323353
      LAST  .OOB  82.150000   5.889018  60.350702   6.810700  72.521357
            LS    82.345000   4.717494  60.440882   5.635149  72.497006
            TS    82.150000   3.310873  60.350702   5.687543  72.521357
TALA  .NONE .OOB  82.177500   7.953606  60.045091   6.441397  73.511776
            LS    82.350000   5.556361  61.973947   5.732308  72.949302
            TS    82.177500   5.120358  60.040081   5.334050  73.511776
      BEST  .OOB  82.752500   7.803788  60.110220   5.541457  73.253892
            LS    82.735000   4.577495  62.234469   5.617203  72.976048
            TS    82.752500   4.142490  60.120240   4.948232  73.253892
      LAST  .OOB  81.905001   7.480780  59.619239   6.037345  72.478244
            LS    81.655000   5.681389  59.654309   5.898742  72.361677
            TS    81.905001   4.457502  59.594189   4.803255  72.478244

Dataset                            XSC
Metric                  ECE        Acc        ECE
Setup CA    Cal
FFT   .NONE .OOB   8.397545  76.824951  10.394641
            LS     8.089146  80.211781   6.389841
            TS     3.483290  76.824951   9.905936
      BEST  .OOB  15.299853  68.436466   8.253778
            LS    12.659124  78.044342   6.168284
            TS     7.414835  68.436466   6.102539
      LAST  .OOB  14.505689  66.694242   9.192447
            LS     6.808585  76.967240   7.186115
            TS     6.688774  66.694242   7.094465
TA    .NONE .OOB   5.707699  80.785904   3.554594
            LS     3.510599  80.094308   5.442682
            TS     2.608501  80.785904   3.945669
      BEST  .OOB   5.783718  81.942422   3.613083
            LS     3.827182  81.613170   5.118051
            TS     2.489077  81.942422   4.055409
      LAST  .OOB   5.684231  80.569159   4.806161
            LS     3.831014  80.269689   8.057215
            TS     2.719851  80.569159   4.871845
TALA  .NONE .OOB   5.187489  80.908339   4.815428
            LS     3.836927  81.866314   5.601478
            TS     2.332200  80.908339   5.760430
      BEST  .OOB   5.500719  82.283256   3.608132
            LS     3.601372  82.698544   6.266511
            TS     2.549496  82.283256   4.239721
      LAST  .OOB   5.825711  80.805758   5.131859
            LS     3.428883  81.292191   9.942515
            TS     2.709282  80.805758   4.928741

In [15]:
# Table 4.2

model="mBERT"
new_df = df[df["Model"] == model]
pivot_table = new_df.pivot_table(
    values="Score", 
    index=["Setup", "CA", "Cal"], 
    aggfunc="mean",
    columns=["Dataset", "Metric"]
    )
latex_table = pivot_table.to_latex(
    float_format="%.1f",
    label="tab:full_mbert",
    caption=f"Results for {model} for single-source fine-tuning. The values are averages over 5 different seeds and all tested target languages in the respective datasets. The lowest ECE and the highest accuracy (Acc) for each dataset are highlighted in bold."
    )
latex_table = latex_table.replace("multirow[t]", "multirow[c]")
latex_table = latex_table.replace(".NONE", "NONE")
latex_table = latex_table.replace(".OOB", "OOB")
with open(f"results/latex_tables/full_mbert.tex", "w") as file:
    file.write(latex_table)

In [16]:
pivot_table

Dataset              PAWS-X                 XCOPA                  XNLI  \
Metric                  Acc        ECE        Acc        ECE        Acc
Setup CA    Cal
FFT   .NONE .OOB  81.865000  10.964117  54.834669  26.452774  65.105788
            LS    81.534999   5.323204  54.934870  17.811076  65.413573
            TS    81.865000   6.410352  54.834669  16.836550  65.105788
      BEST  .OOB  81.920000  11.434707  55.801603  30.066652  65.118164
            LS    81.687500   6.319632  55.490982  17.233711  65.728143
            TS    81.920000   6.664550  55.801603  19.312833  65.118164
      LAST  .OOB  82.135000   9.189176  54.969940  24.740173  65.513373
            LS    82.152500   4.968251  55.070140  14.059760  65.741716
            TS    82.135000   4.767398  54.969940  14.067386  65.513373
TA    .NONE .OOB  80.700000   8.472391  55.000000   7.398468  65.185629
            LS    81.040000   6.132465  55.661323   5.650323  65.225149
            TS    80.700000   5.143187  55.000000   5.285517  65.185629
      BEST  .OOB  80.980000   8.685129  55.656313   6.555898  65.277445
            LS    81.240000   6.233987  55.621243   5.508679  65.512176
            TS    80.980000   4.588106  55.656313   5.109629  65.277445
      LAST  .OOB  80.435000   8.091216  54.679359   8.769362  64.851897
            LS    80.412500   7.248853  55.060121   6.614691  65.065868
            TS    80.435000   5.233360  54.679359   5.346771  64.851897
TALA  .NONE .OOB  80.567500   8.861363  56.032064   5.278034  65.488224
            LS    80.840000   5.709097  56.152305   4.266980  65.782036
            TS    80.567500   5.000049  56.032064   4.083327  65.488224
      BEST  .OOB  80.757500   8.676704  55.761523   5.036006  66.247106
            LS    81.032500   5.462792  55.976954   4.008651  66.190418
            TS    80.757500   4.727175  55.761523   3.902591  66.247106
      LAST  .OOB  80.055000   7.536990  55.380762   5.481736  66.101397
            LS    80.332500   5.101497  55.435872   4.046629  66.025150
            TS    80.055000   4.543086  55.380762   3.428140  66.101397

Dataset                            XSC
Metric                  ECE        Acc        ECE
Setup CA    Cal
FFT   .NONE .OOB  14.260852  67.179021  19.590105
            LS     9.552044  67.470219   7.952435
            TS     8.237903  67.179021  12.079297
      BEST  .OOB  21.410389  67.698544  18.321126
            LS    11.326848  68.108868   7.845609
            TS    11.587876  67.698544  10.707635
      LAST  .OOB  17.900711  66.414626  14.843305
            LS    10.813424  67.192257   5.949713
            TS     8.556223  66.414626   7.921655
TA    .NONE .OOB   6.448095  68.773991   6.069688
            LS     4.998774  68.909662   4.896909
            TS     3.902690  68.773991   4.716392
      BEST  .OOB   6.978063  68.689609   5.128101
            LS     4.698515  68.615156   4.252358
            TS     3.966375  68.689609   4.385812
      LAST  .OOB   5.717937  66.720715   4.812535
            LS     3.696150  66.659497   4.099020
            TS     3.551437  66.720715   4.301201
TALA  .NONE .OOB   3.407781  70.218398   5.788951
            LS     5.355056  69.455659   4.910800
            TS     4.022341  70.218398   4.430486
      BEST  .OOB   3.072806  69.841165   4.756857
            LS     5.377212  69.723693   4.809090
            TS     4.231258  69.841165   4.335243
      LAST  .OOB   3.648314  68.347120   4.629641
            LS     6.934071  68.208140   4.937720
            TS     4.916125  68.347120   4.440076

In [3]:
# Table 4.3

new_df = df[(df["CA"] == ".NONE") & (df["Cal"] == ".OOB")]
pivot_table = new_df.pivot_table(
    values="Score", 
    index=["Model", "Setup"], 
    aggfunc="mean",
    columns=["Dataset", "Metric"]
    )
latex_table = pivot_table.to_latex(
    float_format="%.1f",
    label="tab:vanilla",
)
latex_table = latex_table.replace("multirow[t]", "multirow[c]")
with open(f"results/latex_tables/vanilla.tex", "w") as file:
    file.write(latex_table)

In [4]:
pivot_table

Dataset       PAWS-X                 XCOPA                  XNLI             \
Metric           Acc        ECE        Acc        ECE        Acc        ECE
Model Setup
XLM-R FFT    82.7050  10.453783  60.325651  16.899287  73.489820   8.397545
      TA     82.7475   7.012756  60.796593   7.176055  72.785629   5.707699
      TALA   82.1775   7.953606  60.045091   6.441397  73.511776   5.187489
mBERT FFT    81.8650  10.964117  54.834669  26.452774  65.105788  14.260852
      TA     80.7000   8.472391  55.000000   7.398468  65.185629   6.448095
      TALA   80.5675   8.861363  56.032064   5.278034  65.488224   3.407781

Dataset            XSC
Metric             Acc        ECE
Model Setup
XLM-R FFT    76.824951  10.394641
      TA     80.785904   3.554594
      TALA   80.908339   4.815428
mBERT FFT    67.179021  19.590105
      TA     68.773991   6.069688
      TALA   70.218398   5.788951

In [5]:
# Table 4.4

pivot_table = df.pivot_table(
    values="Score", 
    index=["Model", "Setup", "Metric"], 
    aggfunc="mean",
    columns=["Dataset"],
    margins=True,
    margins_name="Avg"
)
pivot_table = pivot_table[:-1]
latex_table = pivot_table.to_latex(
    float_format="%.1f",
    label="tab:setups",
    caption=" Results for the different setups a fully fine-tuned model without adapters (FFT), models with task adapters (TA) and models with task and language adapters (TALA). The numbers are averages over all calibration techniques, CA methods and seeds for the respective model setup. The highest accuracy score and lowest ECE for each dataset and model are highlighted in bold."
)
latex_table = latex_table.replace("multirow[t]", "multirow[c]")
latex_table = latex_table.replace(".NONE", "NONE")
latex_table = latex_table.replace(".OOB", "OOB")
with open(f"results/latex_tables/setups.tex", "w") as file:
    file.write(latex_table)

In [4]:
pivot_table

Dataset                PAWS-X      XCOPA       XNLI        XSC        Avg
Model Setup Metric
XLM-R FFT   Acc     83.335000  58.920619  72.064360  73.237187  70.374868
            ECE      7.492338  11.720828   9.260760   7.854227   9.305913
      TA    Acc     82.616111  60.813850  72.956487  80.952460  73.138660
            ECE      5.007273   6.173636   4.017986   4.829412   4.941111
      TALA  Acc     82.267778  60.376865  72.974983  81.539084  73.138285
            ECE      5.863752   5.594888   3.885786   5.588313   5.059283
mBERT FFT   Acc     81.912778  55.189824  65.373120  67.261747  65.366496
            ECE      7.337932  20.064546  12.627363  11.690098  13.655417
      TA    Acc     80.769167  55.223781  65.159237  68.061438  65.365026
            ECE      6.647633   6.248815   4.884226   4.740224   5.444837
      TALA  Acc     80.551667  55.768203  65.963451  69.355651  66.094400
            ECE      6.179861   4.392455   4.551663   4.782096   4.787749

In [11]:
# Table 4.5 (partially)
import numpy as np

new_df = df[(df["Setup"] != "FFT") & (df["Cal"] == ".OOB") & (df["Metric"] == "Acc") & (df["Dataset"] != "XSC")]

pivot_table = new_df.pivot_table(
    values="Score", 
    index=["Model", "Setup"], 
    aggfunc="mean",
    columns=["Dataset"],
    margins=True,
    margins_name="Avg"
)
pivot_table = pivot_table[:-1]
np.round(pivot_table, 1)

Dataset      PAWS-X  XCOPA  XNLI   Avg
Model Setup
XLM-R TA       82.6   60.8  72.9  70.2
      TALA     82.3   59.9  73.1  70.0
mBERT TA       80.7   55.1  65.1  64.3
      TALA     80.5   55.7  65.9  64.9

In [25]:
# Table 4.6

pivot_table = df.pivot_table(
    values="Score", 
    index=["Model", "CA", "Metric"], 
    aggfunc="mean",
    columns=["Dataset"],
    margins=True,
    margins_name="Avg"
)
pivot_table = pivot_table[:-1]
latex_table = pivot_table.to_latex(
    float_format="%.1f",
    label="tab:ckpt_averaging",
    caption=f"Results for the different checkpoint averaging stragies, the single best checkpoint (NONE), the 5 best checkpoints (BEST) and the last checkpoint of each epoch (LAST). The numbers are averages over all setups, calibration techniques, and seeds for the respective model setup. The highest accuracy score and lowest ECE for each dataset and model are highlighted in bold."
    )
latex_table = latex_table.replace("multirow[t]", "multirow[c]")
latex_table = latex_table.replace(".NONE", "NONE")
latex_table = latex_table.replace(".OOB", "OOB")
with open(f"results/latex_tables/ckpt_averaging.tex", "w") as file:
    file.write(latex_table)

In [9]:
pivot_table

Dataset             PAWS-X  XCOPA  XNLI   XSC   Avg
Model CA    Metric
XLM-R .NONE Acc       82.6   60.5  73.2  79.9  72.9
            ECE        6.5    8.1   4.8   6.2   6.3
      BEST  Acc       83.0   60.8  73.1  78.6  72.6
            ECE        6.2    7.8   6.6   5.3   6.5
      LAST  Acc       82.6   58.8  71.8  77.2  71.2
            ECE        5.6    7.6   5.8   6.8   6.5
mBERT .NONE Acc       81.1   55.4  65.3  68.7  65.7
            ECE        6.9   10.3   6.7   7.8   8.0
      BEST  Acc       81.3   55.7  65.6  68.8  65.9
            ECE        7.0   10.7   8.1   7.2   8.4
      LAST  Acc       80.9   55.1  65.5  67.2  65.2
            ECE        6.3    9.6   7.3   6.2   7.5

In [13]:
# Table 4.7 (partially)
new_df = df[(df["CA"] != "BEST") & (df["Metric"] == "Acc") & (df["Dataset"] == "XNLI") & (df["Model"] == "XLM-R") & (df["Setup"] == "FFT") & (df["Cal"] == ".OOB")]

pivot_table = new_df.pivot_table(
    values="Score", 
    index=["Dataset", "CA"], 
    aggfunc="mean",
)
pivot_table.to_latex(
    float_format="%.1f",
    label="tab:schmidt_et_al",
    caption=f"Results for the different checkpoint averaging stragies, the single best checkpoint (NONE), the 5 best checkpoints (BEST) and the last checkpoint of each epoch (LAST). The numbers are averages over all setups, calibration techniques, and seeds for the respective model setup. The highest accuracy score and lowest ECE for each dataset and model are highlighted in bold."
    )
pivot_table

                   Score
Dataset CA
XNLI    .NONE  73.489820
        LAST   72.899401

In [21]:
# Table 4.7

new_df = df[df["Metric"] == "ECE"]
pivot_table = new_df.pivot_table(
    values="Score", 
    index=["Model", "Cal"], 
    aggfunc="mean",
    columns=["Dataset"],
    margins=True,
    margins_name="Avg"
)
pivot_table = pivot_table[:-1]
latex_table = pivot_table.to_latex(
    float_format="%.1f",
    label="tab:calib",
    caption="The ECE for the different calibration methods out-of-the-box (OOB), label smoothing (LS) and temperature scaling (TS)."
    )
latex_table = latex_table.replace("multirow[t]", "multirow[c]")
latex_table = latex_table.replace(".NONE", "NONE")
latex_table = latex_table.replace(".OOB", "OOB")
with open(f"results/latex_tables/calib.tex", "w") as file:
    file.write(latex_table)

In [22]:
pivot_table

Dataset       PAWS-X      XCOPA      XNLI       XSC        Avg
Model Cal
XLM-R .OOB  8.167618   9.801966  7.988073  5.930014   7.946901
      LS    5.500853   6.699887  5.510315  6.685855   6.139750
      TS    4.694892   6.987499  3.666145  5.656084   5.219656
mBERT .OOB  9.101310  13.308789  9.204994  9.326701  10.317970
      LS    5.833309   8.800056  6.972455  5.517073   6.919827
      TS    5.230807   8.596971  5.885803  6.368644   6.650206

In [6]:
# Table 4.9

new_df = df[df["Metric"] == "ECE"]
pivot_table = new_df.pivot_table(
    values="Score", 
    index=["Model", "Setup"], 
    aggfunc="mean",
    columns=["Cal"],
)
latex_table = pivot_table.to_latex(
    float_format="%.1f",
    label="tab:calib_setup",
    caption="The ECE for the different calibration methods out-of-the-box (OOB), label smoothing (LS) and temperature scaling (TS)."
    )
latex_table = latex_table.replace("multirow[t]", "multirow[c]")
latex_table = latex_table.replace(".NONE", "NONE")
latex_table = latex_table.replace(".OOB", "OOB")
with open(f"results/latex_tables/calib_setup.tex", "w") as file:
    file.write(latex_table)

In [4]:
pivot_table

Cal               .OOB         LS         TS
Model Setup
XLM-R FFT    12.472782   7.886760   7.558198
      TA      5.693512   5.150236   3.979586
      TALA    5.674409   5.382254   4.121184
mBERT FFT    19.268718  10.557622  11.139912
      TA      6.692315   5.117461   4.524736

In [9]:
# Table 4.10

new_df = df[df["Metric"] == "Acc"]
pivot_table = new_df.pivot_table(
    values="Score", 
    index=["Model", "Cal"], 
    aggfunc="mean",
    columns=["Metric"],
)
latex_table = pivot_table.to_latex(
    float_format="%.1f",
    label="tab:accuracy_ls",
    caption=""
    )
latex_table = latex_table.replace("multirow[t]", "multirow[c]")
latex_table = latex_table.replace(".OOB", "OOB")
with open(f"results/latex_tables/accuracy_ls.tex", "w") as file:
    file.write(latex_table)

In [8]:
pivot_table

Metric            Acc
Model Cal
XLM-R .OOB  72.068668
      LS    72.515071
      TS    72.068074
mBERT .OOB  65.564984
      LS    65.695955
      TS    65.564984

In [28]:
# Table 4.11 and 4.12

import pandas as pd
import os

df_multi = pd.read_csv("results/multi_src_ft/full_results.csv")
df_multi["score"] = df_multi["score"] * 100
df_multi["metric"] = df_multi["metric"].apply(lambda x: "Acc" if x == "accuracy" else "ECE")
df_multi["model"] = df_multi["model"].apply(lambda x: "mBERT" if x == "mbert" else "XLM-R")
df_multi["setup"] = df_multi["setup"].str.upper()
df_multi["dataset"] = df_multi["dataset"].apply(lambda x: "PAWS-X" if x == "paws_x" else x)
df_multi["source_lang"] = df_multi["source_lang"].apply(lambda x: "EN" if x == "en_en" else x)
df_multi["source_lang"] = df_multi["source_lang"].str.upper()
df_multi["target_lang"] = df_multi["target_lang"].str.upper()
df_multi.columns = ["exp_name", "Dataset", "Model", "Setup", "Source", "Target", "seed", "Metric", "Score"]

try:
    os.makedirs("results/latex_tables")
except OSError:
    pass

for metric in ["Acc", "ECE"]:
    new_df = df_multi[df_multi["Metric"] == metric]
    pivot_table = new_df.pivot_table(
        values="Score", 
        index=["Model", "Source"], 
        aggfunc="mean",
        columns=["Target"],
        margins=True,
        margins_name="Avg"
    )
    pivot_table = pivot_table[:-1]
    latex_table = pivot_table.to_latex(
        float_format="%.1f",
        label=f"tab:multi_{metric.lower()}",
        )
    latex_table = latex_table.replace("multirow[t]", "multirow[c]")
    latex_table = latex_table.replace("_", " \& ")
    with open(f"results/latex_tables/multi_{metric.lower()}.tex", "w") as file:
        file.write(latex_table)

<>:38: SyntaxWarning: invalid escape sequence '\&'
<>:38: SyntaxWarning: invalid escape sequence '\&'
/tmp/ipykernel_4055178/70441327.py:38: SyntaxWarning: invalid escape sequence '\&'
  latex_table = latex_table.replace("_", " \& ")

In [29]:
pivot_table

Target               DE        EN        ES        FR         JA         KO  \
Model Source
XLM-R EN       6.874923  3.102352  6.724914  6.023890  12.725464  15.745861
      EN_DE    7.261086  3.697190  7.114556  6.357158  14.897400  16.023823
      EN_ES    6.298859  3.097760  5.111570  4.778359  12.196613  13.744442
      EN_FR    7.683110  3.742726  6.366680  5.750443  14.495163  14.819157
      EN_JA    7.540332  3.696796  6.585147  5.754200  12.225313  12.561393
      EN_KO    7.361287  3.566798  6.869262  6.023897  11.324139  11.561851
      EN_ZH    8.939333  4.207935  8.106461  7.448910  15.282422  16.033199
mBERT EN       7.967969  4.045758  7.339449  7.110850  13.862235  17.465229
      EN_DE    9.003490  4.664449  8.753626  8.668246  18.232284  20.685675
      EN_ES   10.084077  5.046566  8.404899  8.040307  18.146020  20.544164
      EN_FR    9.864748  4.844338  8.612709  7.764960  17.644488  20.152877
      EN_JA   10.414943  5.258864  8.852780  8.653960  14.449827  15.608690
      EN_KO    8.266219  4.044922  7.037611  6.555418  12.176127  13.621536
      EN_ZH    9.123767  4.389457  7.732154  7.514780  13.797666  14.744378

Target               ZH        Avg
Model Source
XLM-R EN      10.965856   8.880466
      EN_DE   12.480522   9.690248
      EN_ES   10.083451   7.901579
      EN_FR   11.876507   9.247684
      EN_JA   10.922217   8.469343
      EN_KO   10.161302   8.124077
      EN_ZH   12.711530  10.389970
mBERT EN      12.171273   9.994681
      EN_DE   15.556104  12.223410
      EN_ES   14.936875  12.171844
      EN_FR   14.752769  11.948127
      EN_JA   13.065593  10.900665
      EN_KO   10.738759   8.920085
      EN_ZH   11.438740   9.820135

In [26]:
# Appendix

for ds in ["PAWS-X", "XCOPA", "XNLI", "XSC"]:
    for model in ["mBERT", "XLM-R"]:
        new_df = df[(df["Dataset"] == ds) & (df["Model"] == model)]
        pivot_table = new_df.pivot_table(
            values="Score", 
            index=["Setup", "CA", "Cal", "Metric"], 
            columns=["target_lang"],
        )
        latex_table = pivot_table.to_latex(
            float_format="%.1f", 
            caption=f"Full results for {ds} using {model}.",
            label=f"tab:{ds.lower().replace("-", "_")}_{model.lower().replace("-", "")}"
        )
        latex_table = latex_table.replace("multirow[t]", "multirow[c]")
        latex_table = latex_table.replace(".NONE", "NONE")
        latex_table = latex_table.replace(".OOB", "OOB")
        latex_table = latex_table.replace(".OOB", "OOB")
        with open(f"results/latex_tables/{ds.lower().replace("-", "_")}_{model.lower().replace("-","")}.tex", "w") as file:
            file.write(latex_table)

In [12]:
import os
import time

def get_file_creation_times(directory):
    file_creation_times = {}
    
    for filename in os.listdir(directory):
        file_path = os.path.join(directory, filename)
        if os.path.isfile(file_path):
            # Get the last metadata change time (ctime)
            ctime = os.path.getctime(file_path)
            # Convert the ctime to a human-readable format
            creation_time = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(ctime))
            file_creation_times[filename] = creation_time
    
    return file_creation_times

# Example usage
directory = 'results/multi_src_ft/csv'
creation_times = get_file_creation_times(directory)
for filename, creation_time in creation_times.items():
    print(f"{filename}: {creation_time}")

multi_en_de_paws_x_xlmr_fft.csv: 2024-08-07 16:14:43
multi_en_ko_paws_x_mbert_fft.csv: 2024-08-07 16:37:41
multi_en_zh_paws_x_xlmr_fft.csv: 2024-08-07 16:45:51
multi_en_es_paws_x_mbert_fft.csv: 2024-08-07 16:25:54
multi_en_ja_paws_x_xlmr_fft.csv: 2024-08-07 16:38:02
multi_en_en_paws_x_mbert_fft.csv: 2024-08-07 16:19:30
multi_en_fr_paws_x_xlmr_fft.csv: 2024-08-07 16:32:12
multi_en_de_paws_x_mbert_fft.csv: 2024-08-07 16:13:28
multi_en_en_paws_x_xlmr_fft.csv: 2024-08-07 16:20:25
multi_en_ja_paws_x_mbert_fft.csv: 2024-08-07 16:32:02